body {
    background: #465E78;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none!important;
}

.top-padding {
    margin-top: 80px;
}

.no-radius {
    border-radius: 0!important;
}

ul.li-no-padding li {
    padding: 0;
}

/*Menu Designing*/
ul.menu li a {
    display: block;
    padding: 10px;
}

ul.menu li a i {
    font-size: 25px;
    margin-right:15px; 
    color: #C5CDD0;
}

/*Blue-List Coloring*/
ul.blue-list>li {
    background: #152840;
    border: 0 none;
    border-bottom: 1px solid #465E78;
    margin-bottom: 0;
    border-radius: 0!important;
}

ul.blue-list>li.light {
    background: #263A54;
}

/*For details Box*/
.details-box {
    padding: 10px;
}

    .details-box h4 {
        display: inline;
        color: #56CCC8;
    }

    .details-box a.h-arrow i {
        font-size: 20px;
        color: #56CCC8;
    }

/*For detail list*/
ul.details-list {
    padding: 0;
}

    ul.details-list li {
        list-style: none;
        padding: 7px 0;
    }

        ul.details-list li a {
            color: #CFD9E0;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
        }

    ul.details-list li a:hover {
        color: #fff;
    }

/*Social Media Links*/
ul.social {
    background: #ffffff;
    padding: 20px;
}
    ul.social li {
        border: 0 none;
    }

        ul.social li a {
            padding: 10px;
            display: block;
        }

            ul.social li a .circle {
                background: #C5CDD0;
                border-radius: 50%;
                text-align: center;
                margin-right: 10px;
                width: 35px;
                height: 35px;
                display: inline-block;
            }

            ul.social li a i {
                margin-top: 10px;
            
            }

.social-box a {
    display: block;
    color: #ffffff;
    padding: 23px;
    margin-bottom: 20px; 
}

.social-box a.facebook {
    background: #4B67A3;
}

.social-box a.twitter {
    background: #42B8E7;
}

.social-box a .image {
    margin-bottom: 30px;
}
    
.social-box a .image i {
    font-size: 50px;
}